Package: webradio
Version: 2023.06.13-1
Section: base
Priority: optional
Architecture: all
Depends: default-jre-headless (>= 11), systemd (>= 241), chromium (>= 88), lightdm (>= 1.26), lxde (>= 10), unclutter (>= 8)
Maintainer: Lars K.W. Gohlke <lkwg82+webradio@gmail.com>
Description: Webradio
 A webradio on a pi
