[Unit]
Description=spotify
After=network.target

[Service]
WorkingDirectory=/home/pi
Environment=Home=/home/pi
ExecStart=/usr/bin/java -jar /opt/librespot/librespot-api.jar
#Restart=always
User=pi

[Install]
WantedBy=multi-user.target